@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">HASTANEYE HOŞGELDİNİZ</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-7 mt-4"><img src="https://img.freepik.com/free-vector/healthcare-background-with-medical-symbols-hexagonal-frame_1017-26363.jpg?w=1380&t=st=1666773519~exp=1666774119~hmac=3526da8dbd189f1e57be6662945b15494c8cf2430fe97db47171b9e4c3d1ee43" class="img-fluid" /></div>
    <div class="col-5 mt-4">
            Sağlık hizmetiyle ilgili beklentiler ve hedefler her geçen gün gelişiyor ve değişiyor. İnsana değer veren ve sağlığı en kutsal hak bilen bir anlayışla sağlık hizmeti vermenin sorumluluğunu anlatabilmek zor. Bu duygularla açılışımızı yapmış olduğumuz 9 Haziran 2006 tarihinden bu yana hedefimiz, "sizin hastaneniz" olabilmektir.

            Afyon PARKHAYAT Hastanesi, 15.000m² kapalı alana ve 43'ü yoğun bakım yatağı olmak üzere toplam 152 yatak kapasitesine sahiptir. Hastanede 6 ameliyathane, 19 yataklı Diyaliz Ünitesi, Ağız ve Diş Sağlığı Merkezi, Güzellik Merkezi ve Tüp bebek merkezimiz bulunmaktadır.

            Bölgenin en büyük özel hastanesi olan hastanemizde 32 branşta 71 hekim ve toplam 523 personel ile sağlık hizmeti sunulmaktadır.merkezimiz bulunmaktadır. Bölgenin en büyük özel hastanesi en büyük özel hastanesidir.Sağlığınız bizimle emin ellerle güvendedir.
    </div>
    </div>
    <div class="row">
        <div class="col-12"><h3 class="fw-bold">DOKTORLARIMIZ</h3></div>
        <div class="col-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/image/hastane.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Doc.Dr Emin Güven</h5>
                    <p class="card-text">KBB alanında uzman doktorumuz Emin Güven</p>
                    <a href="/Home/Hakkimizda" class="btn btn-primary">Detaylı Bilgi İçin Tıklayınız</a>
                </div>
            </div>
        </div>
         <div class="col-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/image/hastane.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Doc.Dr Emin Güven</h5>
                    <p class="card-text">KBB alanında uzman doktorumuz Emin Güven</p>
                    <a href="/Home/Hakkimizda" class="btn btn-primary">Detaylı Bilgi İçin Tıklayınız</a>
                </div>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/image/hastane.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Doc.Dr Emin Güven</h5>
                    <p class="card-text">KBB alanında uzman doktorumuz Emin Güven</p>
                    <a href="/Home/Hakkimizda" class="btn btn-primary">Detaylı Bilgi İçin Tıklayınız</a>
                </div>
            </div>
        </div>
       
    </div>
   
</div>
